@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Sarala:wght@700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.title{
  padding-top: 90%;
  color: white;
  font-family: montserrat;
  font-size: 90px;
  letter-spacing: 0.3em;
}

.explanation{
  padding-left: 4%;
  color: white;
  font-size: 18px;
}

.tombol{
  margin-left: 4%;
  color: white;
}

.tom1 {
  color: white;
}

.tom1:hover {
  color: grey;
}

@media screen and (max-width: 1024px) {
  .title{
    padding-top: 90%;
    font-family: montserrat;
    font-size: 70px;
  }

  .explanation{
    color: white;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .title{
    padding-top: 90%;
    font-family: montserrat;
    font-size: 50px;
  }

  .explanation{
    color: white;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .title{
    padding-top: 50%;
    font-family: montserrat;
    font-size: 70px;
    letter-spacing: 0.5em;
  }

  .explanation{
    color: white;
    font-size: 12px;
    padding-left: 14%;
  }

  .tombol{
    margin-left: 14%;
  }

  video{
    display: none;
  }
}