.field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 40px;
  /* margin-top: -300px; */
}

.textarea {
  width: 1020px;
  height: 200px;
  margin-bottom: 170px;
  border-radius: 15px;
}

.field textarea {
  padding: 15px;
  font-size: 14px;
}

.button-textarea {
  position: relative;
  width: 130px;
  height: 35px;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  background-color: rgb(20, 216, 216);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: -100px;
  margin-left: -130px;
}

.button-textarea:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}
